@page "/products"

<div class="container">
    <div class="grid-container">
        <div class="FiltersArea">
            <div class="d-flex flex-column bd-highlight mb-3">

                <div class="p-2 bd-highlight">
                    @foreach (var manufacturer in Manufacturers)
                    {
                        <input type="checkbox" id=@manufacturer.Name value=@manufacturer.Name @onchange="eventArgs =>{ checkBoxChecked(manufacturer.Name, eventArgs.Value); }" />
                        @manufacturer.Name<br/> 
                    }
                </div>
                <h3>Category:</h3>
                <div class="p-2 bd-highlight">
                    <select @onchange=@categorySelect id="select3">
                        <option value="All" style="color:gray">--Category--</option>C
                        @foreach (var category in Category)
                        {
                            <option value="@category.Name" class="others">@category.Name</option>
                        }
                    </select>
                </div>
                <input @onchange="PriceStart" type="number" />
                <input @onchange="PriceEnd" type="number" />
                <input @onchange="WeightStart" type="number" />
                <input @onchange="WeightEnd" type="number" />
            </div>
        </div>

        <div class="Products">
            <div class="row">
                @foreach (var product in Products)
                {

                    <div class="col-3">
                        <a href="@($"/product/{product.Id}")">
                            <img src="/images/@product.Photo" />
                            <p>@product.Name</p>
                            <p>@product.Price€</p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



