@page "/product/create"
@page "/product/edit/{Id:guid}"
@namespace PcShop.Web.Pages.Products
@inherits ComponentBase
@using PcShop.BL.Api


<h1>Edit product</h1>

<EditForm Model="@Product" OnValidSubmit="SaveData">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="w-100" for="NameInput">
            Name:
            <InputText @bind-Value="@Product.Name" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Name)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="PhotoInput">
            Photo path:
            <InputText @bind-Value="@Product.Photo" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Photo)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="Description input">
            Description:
            <InputTextArea @bind-Value="@Product.Description" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Description)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="PriceInput">
            Price (€):
            <InputNumber min="0" @bind-Value="Product.Price" class="form-control" id="priceInput" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Description)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="WeightInput">
            Weight (g):
            <InputNumber min="0" @bind-Value="Product.Weight" class="form-control" id="weightInput" />
        </label>
    </div>

    <div class="form-group">
        <div class="input-group">
            <label class="w-100" for="CategoryInput">
                Category:
            </label>
            <select value="@Product.CategoryName" @onchange="@CategorySelect" id="select1">
                @foreach (var category in Categories)
                {
                    <option value="@category.Name" class="others">@category.Name</option>
                }
                <option value="new category" style="color:gray">new category</option>
            </select>
            @if (_createNewCategory)
            {
                <InputText @bind-Value="@Product.CategoryName" class="form-control"/>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <label class="w-100" for="CategoryInput">
                Manufacturer:
            </label>
            <select value="@Product.ManufacturerName" @onchange="@ManufacturerSelect" id="select2">
                @foreach (var manufacturer in Manufacturers)
                {
                    <option value="@manufacturer.Name" class="others">@manufacturer.Name</option>
                }
                <option value="new manufacturer" style="color:gray">new manufacturer</option>
            </select>
        </div>

        @if (_createNewManufacturer)
        {
            <div class="form-smaller">
                <label class="w-100" for="ManufacturerNameInput">
                    Manufacturer name:
                    <InputText @bind-Value="@_newManufacturer.Name" class="form-control" />
                    <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Name)" /></small>
                </label>

                <label class="w-100" for="NameInput">
                    Manufacturer description:
                    <InputTextArea @bind-Value="@_newManufacturer.Description" class="form-control" />
                    <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Name)" /></small>
                </label>

                <label class="w-100" for="NameInput">
                    Country of origin:
                    <InputText @bind-Value="@_newManufacturer.CountryOfOrigin" class="form-control" />
                    <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Name)" /></small>
                </label>
            </div>
        }
    </div>

    <div class="form-group">
        <label class="w-100" for="RAM">
            RAM:
            <InputText @bind-Value="@Product.Ram" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Ram)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="CPU">
            CPU:
            <InputText @bind-Value="@Product.Cpu" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Cpu)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="GPU">
            GPU:
            <InputText @bind-Value="@Product.Gpu" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Gpu)" /></small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100" for="HDD">
            HDD:
            <InputText @bind-Value="@Product.Hdd" class="form-control" />
            <small class="form-text text-danger"><ValidationMessage For="@(() => Product.Hdd)" /></small>
        </label>
    </div>

    <h2>Evaluations</h2>

    <ul class="list-group mb-4">
        @foreach (var evaluation in EvaluationNews)
        {
            <li class="d-flex justify-content-between align-items-center list-group-item list-group-item-secondary">
                [@evaluation.PercentEvaluation %] @evaluation.TextEvaluation
                <button class="btn btn-danger btn-sm" type="button" @onclick="() => DeleteEvaluation(evaluation)">Delete</button>
            </li>
        }
    </ul>

    <h3>Add new evaluation:</h3>
    <div class="input-group">
        <InputNumber min="0" @bind-Value="_newEvaluation.PercentEvaluation" class="form-control" />
        <InputText @bind-Value="_newEvaluation.TextEvaluation" class="form-control" />
        <small class="form-text text-danger"><ValidationMessage For="@(() => _newEvaluation.TextEvaluation)" /></small>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" @onclick="@AddEvaluation">Add</button>
        </div>
    </div>

    <br />

    <button type="submit" class="btn btn-success">Save</button>
    
    <br />


</EditForm>

<NavLink href="/products" class="btn btn-primary btn-lg">Go back</NavLink>